<ion-header>
    <ion-toolbar color="dark">
        <ion-title>
            Favourites
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content color="dark">

    <ion-slides [options]="slidersOpt" *ngIf="dataLocalService.news.length === 0">
        <ion-slide>
            <ion-label>
                No Favourites
            </ion-label>
        </ion-slide>
    </ion-slides>
    <app-news *ngIf="dataLocalService.news.length > 0" [articles]="dataLocalService.news"></app-news>

</ion-content>