<ion-header [translucent]="true">
    <ion-toolbar color="dark">
        <ion-title>
            Breaking News
        </ion-title>
    </ion-toolbar>
    <ion-segment mode="md" color="primary" scrollable (ionChange)="changeCategory($event)">
        <ion-segment-button mode="md" [value]='category' *ngFor="let category of categories">
            <ion-label text-capitalize class="ion-text-capitalize">{{category}}</ion-label>
        </ion-segment-button>
    </ion-segment>
</ion-header>

<ion-content [fullscreen]="true" color="dark">
    <app-news [articles]="news"></app-news>

    <ion-infinite-scroll threshold="150px" (ionInfinite)="loadData($event)">
        <ion-infinite-scroll-content loadingSpinner="crescent" loadingText="Loading more..">

        </ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>